/*****                    RESET CSS                  *****/
html{color:#222;margin:0;padding:0;}body,ul{padding:0;margin:0;}::-moz-selection{background: #b3d4fc;text-shadow: none;}::selection {background: #b3d4fc;text-shadow: none;}hr {display: block;height: 1px;border: 0;border-top: 1px solid #ccc;margin: 1em 0;padding: 0;}li{list-style:none;}audio,canvas,iframe,img,svg,video{vertical-align: middle;}fieldset {border: 0;margin: 0;padding: 0;}textarea {resize: vertical;}.hidden,[hidden] { display: none !important;}.visually-hidden {border: 0;clip: rect(0, 0, 0, 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;white-space: nowrap;width: 1px;}.visually-hidden.focusable:active,.visually-hidden.focusable:focus {clip: auto;height: auto;margin: 0;overflow: visible;position: static;white-space: inherit;width: auto;}.invisible {visibility: hidden;}a,a:visited {text-decoration: underline;}abbr[title]::after {  content: " (" attr(title) ")";}pre,blockquote {  border: 1px solid #999;  page-break-inside: avoid;}tr,img {  page-break-inside: avoid;}p,h2,h3 {  orphans: 3;  widows: 3;  margin: 0;}h2,h3 {  page-break-after: avoid;}* {  position: relative;  outline: none;font-family: monospace sans-serif;-webkit-font-smoothing: antialiased;padding: 0;box-sizing: border-box;margin: 0;word-break: break-word;-webkit-appearance: none;-moz-appearance: none;appearance: none;}body::-webkit-scrollbar{width:0;}table{border-spacing:0}
/*****                FIN RESET CSS                  *****/

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 16px;
    text-align: center;
}

/*Bloque Menu*/
#mujer,#hombre,#infantil,#calzado{
    background-color: rgba(169,169,169,0.72);
    margin: 25px 0;
    width: 100%;
}
header nav {
    background-color: black;
    color: white;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: auto;
    max-width: 800px;
    width: 100%;
}
.menu a, header a{
    text-decoration: none;
    color: white;
}
.menu a:hover, .header a:hover{
    text-decoration: underline;
}
.icon-menu {
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    right: 20px;
}
.icon-menu ul {
    padding: 0;
    gap: 10px;
}
.icon-menu li{
    background-color: black;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    transition-duration: .3s;
}
.icon-menu ul li a{
    display: flex;
    align-items: center;
    gap: 5px;
}
.icon-menu li:hover{
     background-color: white;
 }
.icon-menu li:hover a {
    color: black;
}
.icon-menu li svg{
      transition-duration: .3s;
      fill: white;
  }
.icon-menu li:hover svg{
     fill: #787878;
 }
.icon-menu li:hover p{
    color: #787878;
}
.icon-menu li p{
    transition-duration: .3s;
}
header picture {
    display: block;
    width: 120px;
    padding: 10px 0;
}
header .top-menu {
    max-width: 800px;
    margin: auto;
}
header picture img {
    width: 100%;
    height: 100%
;
}


/*Formulario*/
.container-form {
    display: block;
    justify-content: space-between;
    gap: 20px;
    padding: 50px;
    max-width: 920px;
    margin: auto;
}
.container-form .select-form{
    display: block;
    width: 100%;
    min-width: 200px;
    padding: 30px;
    margin-bottom: 50px;
    border-radius: 30px;
    border: 1px solid #787878;
}
.select-form form {
    height: 100%;
    padding-bottom: 50px;
}
.container-form .select-form input[type="submit"] {
    position: absolute;
    bottom: 40px;
}
.select-form h2 {
    margin-bottom: 20px;
}
@media(min-width:768px) {
    .container-form {
        display: flex;
    }
}
.container-form label, .container-form input {
    display: block;
    text-align: left;
    margin-bottom: 10px;
}
.container-form label {
    margin-bottom: 20px;
}
form input {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #787878;
    padding: 10px;
    margin-top: 10px;
}
form .boton {
    background-color: white;
    text-align: center;
    cursor: pointer;
    transition-duration: .6s;
}
form .boton:hover {
    border-radius: 50px;
}
form label {
    display: flex;
    align-items: center;
}



/*Galería*/
main>div .wrap-slider .gallery{
    display: flex;
    width: 100%;
    gap: 15px;
    padding: 20px;
    overflow: scroll;
    background-color: white;
}
main #hombre .wrap-slider .gallery,main #calzado .wrap-slider .gallery {
    flex-direction: row-reverse;
}
.gallery article {
    min-width: 80%;
    border-radius: 30px;
    overflow: hidden;
}
.product-details-description p:nth-child(2) {
    font-size: 32px;
    font-weight: bold;
}
.gallery article picture{
    display: block;
    width: 100%;
    height: 400px;
}
.gallery picture img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    object-fit: cover;
}

.gallery .product-details {
    color: white;
    position: absolute;
    text-align: left;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    left: 50%;
    bottom: 20px;
    background: rgba(5, 5, 5, .5);
    transform: translate(-50%,0);
    backdrop-filter: blur(10px);
    border: 1px solid white;
    transition-duration: .3s;
    pointer-events: none;
    opacity: 0;
}
.gallery picture:hover~.product-details, .gallery .product-details:hover {
    pointer-events: initial;
    opacity: 1;
}
.gallery h3 {
    font-size: 24px;
}
.gallery p {
    margin-bottom: 5px
}
.gallery form label {
    gap: 10px;
}
.gallery form label input{
    width: 50px;
    margin-top: 0;
}
.gallery .product-details-description {
    margin-bottom: 15px;
}
@media (min-width:768px) {
    .gallery .product-details-description {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .gallery article picture{
        height: 600px;
    }
    .gallery article {
        min-width: 60%;
    }
}
@media (min-width:1024px) {
    .gallery article {
        min-width: 30%;

    }
    .gallery article picture{
        height: 600px;
    }

    .gallery .product-details {
        pointer-events: initial;
        opacity: 1;
    }
}




/*Cesta*/
.cesta {
    margin: 10px auto;
    padding: 20px;
}
.cesta table{
    min-width: 800px;
    overflow: scroll;
    margin: 25px auto;
}
.cesta table tr,.cesta table td {
    border: 1px solid black;
    border-width: 1px 0px 0px 1px;
    padding: 15px 10px;
}
.cesta table tr td:last-child {
    border-right: 1px solid black;
}
.cesta table tr:last-child td {
    border-bottom: 1px solid black;
}
.cesta table tr td form {
    display: flex;
    gap: 10px;
}
.cesta input {
    margin-top: 0;
}
.cesta .resultados-carrito {
    display: flex;
    max-width: 800px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.cesta .resultados-carrito div {
    display: flex;
    align-items: center;
    gap: 20px;
}
.cesta .resultados-carrito a {
    font-size: 14px;
    text-decoration: none;
    padding: 11px 15px;
    border-radius: 10px;
    background-color: lightblue;
    color: #333773;
}
.cesta .resultados-carrito input,.cesta #delete-product {
    background-color: red;
    color: white;
    border: 1px solid red;
    transition-duration: .3s;
    cursor: pointer;
}
.cesta .resultados-carrito input:hover,.cesta #delete-product:hover {
    background-color: white;
    color: red;
}
.cesta th {
    padding-bottom: 20px;
}


/*FINALIZAR COMPRA*/
.form-payment {
    display: block;
    max-width: 500px;
    margin: auto;
    padding: 20px;
}
.form-payment h1 {
    margin-top: 30px;
}
.form-payment label{
    display: block;
    margin-top: 20px;
}
.form-payment .pay-method {
    display: flex;
    margin: 20px 0;
    gap: 15px;
}



/*VIDEO*/
.video,video {
    display: block;
    max-width: 100%;
    width: 100%;
}